# Supabase Connection Strings
# Use the "Transaction" connection string for DATABASE_URL (Port 6543)
# Use the "Session" or "Direct" connection string for DIRECT_URL (Port 5432)
# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=
# Google Gemini API Key
# Get one at: https://aistudio.google.com/
GEMINI_API_KEY=

# VirusTotal API Key
# Get one at: https://www.virustotal.com/gui/user/username/apikey
VIRUSTOTAL_API_KEY=
